<ion-view title="Privacy">
  <ion-content class="backup">
  <div id="backup" class="screen-container">
  <div class="screen-container-top">
  <i class="ion-loop"></i>
    <h2>Our Privacy Policy</h2></div>
    <div class="screen-container-btm">
    <p class="important ion-information-circled">We use your camera to scan QR images. The image is never saved on the camera
  and we certainly do not transfer that image back to our servers.</p>
  <p class="important ion-information-circled">We do not collect any private information from your phone.</p>
  </div></div>
  </ion-content>
</ion-view>